.App {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 50px;
  font-family: cooper black;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav{
  background-color: lightcyan;
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 50px;
  justify-content: space-between;

}
nav a{
  margin-right: 25px;
  font-family:  'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  color: #b51f14;
  font-weight: bold;
  font-size: 30px;
}
nav a:active{
  margin-right: 20px;
  color: rgb(20, 22, 20);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
